/* scss standard definitions */
body {
  padding-top: calc(16px + env(safe-area-inset-top));
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #eaeaea;
  margin: 0;
  font-family: arial, verdana;
  font-size: 16px;
}

/* modals */
.modal {
  padding-top: env(safe-area-inset-top);
}
.modal-dialog {
  margin-top: env(safe-area-inset-top);
}
.modal-header, .modal-footer {
  background-color: #dfe9e3;
  color: black;
}

.modal-body {
  color: black;
  text-align: left;
}

input[id^=q] {
  margin-bottom: 4px;
}

/* Map & Modal buttons */
#map_grp1, #map_grp2, #map_grp3, #map_grp4 {
  display: none;
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 12px;
  left: 12px;
  z-index: 9999;
}

/* Default save method is import hike */
#imphike {
  margin-left: 1rem;
  margin-bottom: 8px;
  z-index: 1000;
}
#search {
  border-radius: 8px;
  border-width: 1px;
  border-color: darkslategray;
  font-size: 16px;
  padding-left: 6px;
  height: 32px;
  width: 216px;
  position: relative;
  top: 4px;
  left: 6px;
}
#clear {
  position: relative;
  font-size: 24px;
  top: 7px;
  left: -26px;
  color: brown;
  z-index: 220;
  cursor: pointer;
}

/* Import gpx file */
#gpxfile {
  width: 220px;
}
#gpxfile::file-selector-button {
  border: 2px brown solid;
  border-radius: 3px;
  cursor: pointer;
  background-color: blanchedalmond;
}
form {
  padding: 3px;
}
#impgpx {
  margin-left: 4px;
  width: 300px;
}

/* Draw Rectangle */
#rect_btns {
  padding: 3px;
}


#map {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 96vh;
  border: 1px solid #AAA;
  margin-left: 0px;
}

/* Intro Modal */
#options {
  margin-bottom: 6px;
}
#saveRect, #saveHike, #saveGpx {
  cursor: pointer;
  position: relative;
}

/* Save Map Modal */
#map_name {
  width: 160px;
  border-color: brown;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

/* Save Status Modal */
#zot {
  color: brown;
}
#progress {
  height: 48px;
  width: 200px;
  background-color: gainsboro;
}
#bar {
  height: 48px;
  width: 2px;
  background-color: SeaGreen;
}

/* Recenter map modal */
.latlngs {
  width: 80px;
  font-size: 14px;
}
