/* scss standard definitions */
body {
  background-color: #eaeaea;
  margin: 0;
  font-family: arial, verdana;
  font-size: 16px;
  width: 100%;
}

.trackers, .savers {
  position: absolute;
  top: 8px;
  z-index: 500;
}
.trackers {
  left: 64px;
}
.savers {
  left: 24px;
}

#map {
  overflow: hidden;
  position: absolute;
  height: 98vh;
  width: 98vw;
  border: 1px solid #AAA;
}

.modal-header, .modal-footer {
  background-color: #dfe9e3;
  color: black;
}

#gpxname {
  border: 1px solid brown;
}
